
.toolbar {
    /* Necessary to ensure class mat-elevation-z* effective */
    position: relative;
    z-index: 2;

    height: 56px;
    background: white;
}

.sidenav {
    width: 260px;
}

.sidenav-container {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-title {
    margin: 36px 0px 0px 0px;
    font-family: Aesthetic;
    font-size: 25px;
    color: #2c3a9d;
    letter-spacing: 1px;
    /*
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
    ;
    */
}

.sidenav-button {
    margin: 8px 0px 8px 0px;
    color: black;
    width: 80%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: rgb(191,82,19);
    align-self:normal;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

