
$toolbar-height: 56px;

.toolbar {
    /* Necessary to ensure class mat-elevation-z* effective */
    position: relative;
    z-index: 2;
    /* Additional */
    background: white;
    height: $toolbar-height;
}

.sidenav { width: 260px; }

.sidenav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: $toolbar-height;
}

.sidenav-title {
    margin: 36px 0px 0px 0px;
    font-family: Aesthetic;
    font-size: 25px;
    color: #2c3a9d;
    letter-spacing: 1px;
}

.sidenav-button {
    margin: 8px 0px 8px 0px;
    color: black;
    width: 80%;
}

/* Necessary in order to alter icons color */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;  /* Preferred icon size */
    display:flex;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space:initial;
    direction:initial;
    color: rgb(191,82,19);
    align-self:center;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
