
$toolbar-height: 56px;

.toolbar {
    /* Necessary to ensure class mat-elevation-z* effective */
    position: relative;
    z-index: 2;
    /* Additional */
    background: white;
    height: $toolbar-height;
}

.sidenav { width: 260px; }

.sidenav-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    top: $toolbar-height;
}

.sidenav-title {
    margin: 36px 0px 0px 0px;
    font-family: Aesthetic;
    font-size: 25px;
    color: #2c3a9d;
    letter-spacing: 1px;
    /*
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
    ;
    */
}

.sidenav-button {
    margin: 8px 0px 8px 0px;
    color: black;
    width: 80%;
}
