
<div *ngIf="!pageLoaded"><mat-progress-bar></mat-progress-bar></div>

<div *ngIf="pageLoaded">

    <mat-toolbar #idToolbar class="toolbar" [style.height]="toolbarHeight()" [style.background]="toolbarColor()" [ngClass]="'mat-elevation-z'+toolbarElevation()">
        <img src="../assets/logo.png" width="30px" height="30px" (click)="goToHomePage()">
        <span style="flex: 1 1 auto;"></span>
        <button #menuButton mat-icon-button onclick="this.blur()" (click)="idSidenav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.top]="toolbarHeight()">
      
      <mat-sidenav #idSidenav [(opened)]="sidenavIsOpen" [style.width]="sideNavWidth()" [autoFocus]="false" mode="over" position="end">
        <div style="text-align: center;">
          <p class="sidenav-title">{{data().getTitle()}}</p>
          <div *ngFor="let name of menuRoutesNames(); let i = index">
            <a [routerLink]="['/' + menuRoutes().get(name)]" (click)="idSidenav.close()">
              <button mat-stroked-button class="sidenav-button" [style.margin-top]="i == 0 ? '27px' : '8px'">
                {{name}}
              </button>
            </a>
            <br>
          </div>
        </div>
      </mat-sidenav>
      
      <mat-sidenav-content [style.background-color]="websiteBackgroundColor()">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<!-- <img src="../assets/logo.png" width="{{toolbarHeight() - 26}}" height="{{toolbarHeight() - 26}}"> -->
<!-- <button mat-icon-button (click)="idSideNav.toggle()"><mat-icon svgIcon="cbn" style="font-size:30px; width: 30px; height: 30px;"></mat-icon></button>-->