<div *ngIf="!pageLoaded"><mat-progress-bar></mat-progress-bar></div>
<div *ngIf="pageLoaded">
    <mat-toolbar #idToolbar class="toolbar" [style.height]="toolbarHeight()" [ngClass]="'mat-elevation-z3'">
        <img src="../assets/logo24.png" width="30px" height="30px" (click)="goToHomePage()">
        <span style="flex: 1 1 auto;"></span>
        <button #menuButton mat-icon-button onclick="this.blur()" (click)="idSidenav.toggle()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" [style.top]="toolbarHeight()">
      
      <mat-sidenav #idSidenav class="sidenav" [(opened)]="sidenavIsOpen" [autoFocus]="false" mode="over" position="end">
        <div style="text-align: center;">
          <p class="sidenav-title">{{data().getShort()}}</p>
          <div *ngFor="let name of menuRoutesNames(); let i = index"> 
            <a [routerLink]="['/' + menuRoutes().get(name)]" (click)="idSidenav.close()">
              <button mat-stroked-button class="sidenav-button" [style.margin-top]="i == 0 ? '27px' : '8px'">

                <span class="material-icons">{{ICONS[i]}}</span>
                &nbsp;
                    {{name}}
              </button>
            </a>
            <br>
          </div>
          <div style="position: fixed; bottom: 8px; padding: 20px; left: calc(100% - 260px); right: 0px;">
            <a  href="https://open.spotify.com/show/6oec6HSy5WyYPP1KyXat2O?si=mnE4OByRS2iy5BwSGhLG-w">
              <button mat-stroked-button style="height: 66px; margin-bottom: 12px; font-size: 13px;">
                  <mat-icon svgIcon="spotify"></mat-icon>
                  CBN 2023<br>
                  Previous Edition<br>
                  Spotify Podcast
              </button>
          </a>
            <a  href="http://maps.google.com/?q=Piazza Scaravilli Bologna">
                <button mat-stroked-button style="height: 66px; font-size: 13px;">
                    <mat-icon svgIcon="gmaps"></mat-icon>
                    CBN 2024<br>
                    Piazza Scaravilli<br>
                    Bologna
                </button>
            </a>
          </div>
        </div>
      </mat-sidenav>
      
      <mat-sidenav-content [style.background-color]="websiteBackgroundColor()">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<!-- <img src="../assets/logo.png" width="{{toolbarHeight() - 26}}" height="{{toolbarHeight() - 26}}"> -->
<!-- <button mat-icon-button (click)="idSideNav.toggle()"><mat-icon svgIcon="cbn" style="font-size:30px; width: 30px; height: 30px;"></mat-icon></button>-->