
<div class="home-image">
    <div class="home-black" [style.background]="'rgba(0, 0, 0, ' + blackLayerPercentage() + ')'">
        <div style="color: white">
            <h1 style="margin: 0px 22px; font-family: Champion; letter-spacing: 3px; color: #fff1d3; line-height: 1.2;" [style.font-size]="sloganSize()">
                <span *ngFor="let text of data().getSlogan().split('<br>')">{{text}}<br></span>
            </h1>
            <p style="margin: 16px 0px; font-family: Champion; font-size: 24px; color: #fff1d3;">
                {{data().getTitle()}}
            </p>
            <p style="margin: 0px; font-family: Champion; font-size: 24px; color: #fff1d3;">
                <span *ngFor="let text of data().getData().split('<br>')">{{text}}<br></span>
            </p>
        </div>
    </div>
</div>

<h2 style="margin: 16px">Cos'è il Campus by Night?</h2>
<p style="line-height: 1.5; margin: 16px;">
    <span *ngFor="let text of data().getDescription().split('<br>')">{{text}}<br></span>
</p>

<app-footer></app-footer>