
.home-image {
    height: 100%;
    text-align: center;

    background-image: url("/assets/background.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-black {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
}

/*
::ng-deep.map-button {
    padding: 10px !important;
    margin: 10px !important;
    width: 210px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/