
/* https://www.onlinewebfonts.com/download/b30e361a621ce3090b02c8b3238deb2c */
@font-face {font-family: "Champion"; src:
url("https://db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.eot"); src:
url("https://db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.eot?#iefix") format("embedded-opentype"),
url("https://db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.woff2") format("woff2"),
url("https://db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.woff") format("woff"),
url("https://db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.ttf") format("truetype"),
url("https://db.onlinewebfonts.com/t/b30e361a621ce3090b02c8b3238deb2c.svg#Champion") format("svg");
}

.home-image {
    height: 100%;
    text-align: center;

    background-image: url("/assets/background.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home-black {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}