
<div class="home-image">
    <div class="home-black" [style.background]="'rgba(0, 0, 0, ' + blackLayerPercentage() + ')'">
        <div style="color: white">
            <h1 style="margin: 0px; font-family: Alkatra">{{data().getSlogan()}}</h1>
            <p style="font-family: century-gothic, sans-serif">{{data().getTitle()}}</p>
            <p style="font-family: century-gothic, sans-serif">{{data().getData()}}</p>
        </div>
    </div>
</div>

<p style="line-height: 1.5; margin: 16px;">
    <span *ngFor="let text of data().getDescription().split('<br>')">{{text}}<br></span>
</p>