<div>
    <div class="home-image">
        <div class="home-black" [style.background]="'rgba(0, 0, 0, ' + 0.42 + ')'">
            <h1 style="padding: 26px 20px 20px 20px">LOTTERIA<br>CBN 2024</h1>
        </div>
    </div>
</div>

<div class="container">

    <!--
    <p style="line-height: 1.5; margin: 4px 10px 22px 10px; color: black;">
        Vieni a trovarci al Campus by Night e partecipa alla lotteria acquistandone i biglietti,
        cogli l'occasione di vincere uno dei {{getPrizes().length}} premi in palio!<br>
        L'estrazione dei numeri vincenti avrà luogo l'11 maggio alle ore 20:00
        in <b>Piazza San Domenico</b> a Bologna.
    </p>
    <div style="text-align: center; margin-bottom: 34px;">
        <a  href="http://maps.google.com/?q=Piazza San Domenico Bologna">
            <button mat-stroked-button> <!-- style="border: 1px solid #327cf0 !important" class="map-button" --><!--
                <mat-icon svgIcon="gmaps"></mat-icon>
                Vieni al Campus, acquista un biglietto!
            </button>
        </a>
    </div>
    -->
    
    <p style="line-height: 1.5; margin: 4px 10px 22px 10px; color: black;">
        L'estrazione dei numeri vincenti della lotteria del CBN ha avuto luogo l'11 maggio 2024 alle ore 20:00
        in Piazza San Domenico a Bologna. La lista sottostante riporta i numeri vincenti alla destra dei relativi premi!
        <br><br>
        <b>Hai vinto?</b> Puoi ritirare i premi entro il 13 luglio 2024, contattando i numeri 3515373320 o 3534145475.
    </p>
    <div style="text-align: center; margin-bottom: 24px;">
        <a [href]="'tel:3515373320'" style="margin-left: 10px; margin-right: 10px;">
            <button mat-stroked-button matTooltip="3515373320" style="margin-bottom: 10px;"> <!-- style="border: 1px solid #327cf0 !important" class="map-button" -->
                <mat-icon>phone</mat-icon>
                351 537 3320
            </button>
        </a>
        <a [href]="'tel:3534145475'" style="margin-left: 10px; margin-right: 10px">
            <button mat-stroked-button matTooltip="3534145475" style="margin-bottom: 10px;"> <!-- style="border: 1px solid #327cf0 !important" class="map-button" -->
                <mat-icon>phone</mat-icon>
                353 414 5475
            </button>
        </a>
    </div>
    
    <!-- --> <!-- magic invisible char - do not delete -->

    <table>
        <tbody>
            <tr *ngFor="let prize of getPrizes(); let i = index">
                <td>{{i+1}}</td>
                <td>{{prize.name}}</td>
                <td *ngIf="prize.winningNumber != null">{{prize.winningNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>

<app-footer></app-footer>