
.home-black {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image {

  height: 42%;
  text-align: center;
  background-image:    url("/assets/background24.jpg") ;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  font-family: Aesthetic;
  letter-spacing: 2px;
  font-size: 34px;
  align-self:center;
  color: white;
}

.gallery {
  max-width: 1000px; /* Imposta la larghezza massima del body a 1000px */
  margin: 0 auto;
  left: 50%;
  right: 50%;
  align-self: center;
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display three elements per row */
  grid-auto-flow:inherit;
  gap: 20px;
  margin-left:5%;
  //background-color: rgb(43, 53, 139);
  border-radius: 16px;
  }
  img {
    width: 80%;
    top:50%;
    bottom:50%;
    height: auto;
    display: flex;
    border-radius: 16px;
    cursor: pointer; /* Add an indicative cursor that the image is clickable */
  }
  video{
    width: 80%;
    top:50%;
    bottom:50%;
    height: auto;
    display: flex;
    border-radius: 16px;
    cursor: pointer; /* Add an indicative cursor that the image is clickable */
  }
  .overlay {
    display: none; /* Hide the overlay by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.658); /* Transparent black background */
    display:flex;
    justify-content:center;
    align-items: center;
    max-width: 100%;
    max-height: 100vh;
    z-index: 1000;
  }
  .overlay img {
    border-radius: 10px;
    top:50%;
    bottom:50%;
    margin: 5%;
    max-height: 80vh;
    max-width: 80vh;
    align-self: center;
    position:static;
    align-self:center;
  }

  h1 {
    line-height: 1.2;
    // text-align: center;
    // margin-top: 22.78px;
    // margin-bottom: 100px;
    font-family: Aesthetic;
    letter-spacing: 2px;
    font-size: 200%;
    align-self:center;
    margin-top:3%;
    margin-left:3%;
    color: rgb(223,96,19); //#de643f;
    /*
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
    ;
    */
}

h2 {
  line-height: 1.2;
  // text-align: center;
  // margin-top: 22.78px;
  // margin-bottom: 100px;
  font-family: Aesthetic;
  letter-spacing: px;
  font-size: 100%;
  align-self:center;
  margin-left: 3%;
  color: rgb(43, 53, 139); //#de643f;
  /*
  text-shadow:
      -1px 0px 0px black,
      1px 0px 0px black,
      0px -1px 0px black,
      0px 1px 0px black
  ;
  */
}
// Add the following styles for the navigation buttons
.carousel {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-btn {
  position: fixed;
  top: 50%; /* Place the buttons vertically centered */
  transform: translateY(-50%); /* Adjust for centering */
  font-size: 6rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1001; /* Ensure the buttons appear above the overlay */
}
.nav-btn.left {
  left: 10px;
}
.nav-btn.right {
  right: 10px;
}
.nav-btn:hover {
  color: #ccc;
}
.album-open .material-icons {
  transform: rotate(-90deg);
}
.clickable-item {
  // Altri stili per l'elemento cliccabile

  // Cambia il cursore quando il mouse è sopra l'elemento
  &:hover {
    cursor: pointer; // Puoi usare il cursore che preferisci
  }
}
.close-btn {
  position: absolute;
  top: 5vh;
  right: 10vh;
  font-size:5vh;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 6;
}
