.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display three elements per row */
    gap: 20px;
    margin: 20px;
    //background-color: rgb(43, 53, 139);
    border-radius: 16px;
  }
  
  img {
    width: 90%;
    height: auto;
    display: block;
    border-radius: 16px;
    cursor: pointer; /* Add an indicative cursor that the image is clickable */
  }
  
  .overlay {
    display: none; /* Hide the overlay by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.735); /* Transparent black background */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .overlay img {
    border-radius: 10px;
    margin: 5%;
    align-self: center;
    position: fixed;
    align-self:center;
    position: inherit;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-btn {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .nav-btn.left {
    left: 10px;
  }
  
  .nav-btn.right {
    right: 10px;
  }
  
  .nav-btn:hover {
    color: #ccc;
  }

  h1 {
    line-height: 1.2;
    // text-align: center;
    // margin-top: 22.78px;
    // margin-bottom: 100px;
    font-family: Aesthetic;
    letter-spacing: 2px;
    font-size: 200%;
    align-self:center;
    margin-top:3%;
    margin-left:3%;


    color: rgb(223,96,19); //#de643f;
    /*
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
    ;
    */
}


h2 {
  line-height: 1.2;
  // text-align: center;
  // margin-top: 22.78px;
  // margin-bottom: 100px;
  font-family: Aesthetic;
  letter-spacing: px;
  font-size: 100%;
  align-self:center;
  margin-left: 3%;
  color: rgb(43, 53, 139); //#de643f;
  /*
  text-shadow:
      -1px 0px 0px black,
      1px 0px 0px black,
      0px -1px 0px black,
      0px 1px 0px black
  ;
  */
}