
<h1 >
  edizione 2023
</h1>
<div class="gallery">
    <div *ngFor="let immagine of immagini2023; let i = index" (click)="apriImmagine(immagine, i)">
      <img [src]="immagine" alt="Immagine dell'evento">
    </div>
  </div>
  <div *ngIf="immagineSelezionata" class="overlay" (click)="chiudiImmagine()">
      <img [src]="immagineSelezionata" alt="Immagine a tutto schermo">
  </div>

  <h1 >
    edizione 2022
  </h1>
  <div class="gallery">
      <div *ngFor="let immagine of immagini2022; let i = index" (click)="apriImmagine(immagine, i)">
        <img [src]="immagine" alt="Immagine dell'evento">
      </div>
    </div>
    <div *ngIf="immagineSelezionata" class="overlay" (click)="chiudiImmagine()">
        <img [src]="immagineSelezionata" alt="Immagine a tutto schermo">
    </div>

    <h1 >
      edizione 2021 ...
    </h1>