<mat-progress-bar *ngIf="!photoLoaded" mode="indeterminate"></mat-progress-bar>
<div [hidden]="!photoLoaded">
    <img src="../../assets/sport.png" (load)="photoLoaded = true" [ngClass]="'mat-elevation-z0'">
    <div style="display: flex; align-items: center; justify-content: center;">
        <div style="max-width: 700px;">
            <h1 class="title">
                <span *ngFor="let text of data().getSportAreaTitle().split('<br>')">{{text}}<br></span>
            </h1>
            <div *ngFor="let rule of data().getSportRoolBook()">
                <h2 style="margin: 16px 16px 0px 16px; font-size: 20px;">{{rule.name}}</h2>
                <p style="line-height: 1.5; margin: 6px 16px 16px 16px">
                    <span *ngFor="let text of rule.body.split('<br>')">{{text}}<br></span>
                </p>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>