img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    // box-shadow:  0 16px 16px 0 rgba(0, 0, 0, 0.2), 0 16px 16px 0 rgba(0, 0, 0, 0.19);
}

.title {
    margin: 26px 16px 20px 16px;
    font-size: 24px;
    font-family: Champion;
    letter-spacing: 1px;
    color: #de643f;
    line-height: 1.2;
    // -webkit-text-stroke: 0.1px black;
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
    ;
}