<head>
    <meta charset="UTF-8">
    <title>Eventi</title>
    <link rel="stylesheet" href="./eventi.component.scss">
    <script src="./eventi.component.ts"></script>
  </head>
  <body>
    <div class="evento">
      <img src="../../assets/evento1.jpg">
      <p>Lorem ipsum dolor sit amet. Et similique repellat quo eius repudiandae eum aliquid aliquam quo voluptas debitis. Et dolore doloremque vel reiciendis doloremque ab autem porro At omnis eius eos porro rerum.

        Et cumque dolorum a perferendis minus ut cumque consequatur sed fugiat quis. Sit obcaecati saepe hic debitis velit cum voluptas impedit.
        
        Ab sequi pariatur est deserunt consectetur qui velit magni id deleniti unde est laboriosam facilis et temporibus saepe ut laborum quam. Ea nihil amet qui ullam temporibus ut architecto culpa non deserunt aliquid. Non rerum fuga aut eius atque hic deleniti suscipit quo officiis veritatis quo provident ratione? Non iusto quisquam ut optio dicta et dolor doloribus est eius voluptas et dignissimos quos sed reprehenderit nemo sit sapiente consequatur.</p>
    </div>
    
    <div class="evento">
      <img src="../../assets/evento1.jpg">
      <p>Lorem ipsum dolor sit amet. Et similique repellat quo eius repudiandae eum aliquid aliquam quo voluptas debitis. Et dolore doloremque vel reiciendis doloremque ab autem porro At omnis eius eos porro rerum.

        Et cumque dolorum a perferendis minus ut cumque consequatur sed fugiat quis. Sit obcaecati saepe hic debitis velit cum voluptas impedit.
        
        Ab sequi pariatur est deserunt consectetur qui velit magni id deleniti unde est laboriosam facilis et temporibus saepe ut laborum quam. Ea nihil amet qui ullam temporibus ut architecto culpa non deserunt aliquid. Non rerum fuga aut eius atque hic deleniti suscipit quo officiis veritatis quo provident ratione? Non iusto quisquam ut optio dicta et dolor doloribus est eius voluptas et dignissimos quos sed reprehenderit nemo sit sapiente consequatur.</p>
    </div>
    
    <!-- Qui si capisce cosa si deve fare -->
  </body>
  