html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* https://reactgo.com/add-fonts-to-angular */
@font-face {
    font-family: "Champion";
    src: local("Champion"), url(./assets/fonts/championFont.ttf) format("truetype");
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
