<mat-progress-bar *ngIf="sponsorsAreLoading()" mode="indeterminate"></mat-progress-bar>
<div style="text-align: center" [hidden]="sponsorsAreLoading()">
    <div>
        <div class="home-image">
            <div class="home-black" [style.background]="'rgba(0, 0, 0, ' + 0.42 + ')'">
                <h1 style="padding: 26px 20px 20px 20px">SPONSORS<br>CBN 2024</h1>
            </div>
        </div>
    </div>
    <br><br>
    <div *ngFor="let sponsor of getSponsors()">
        <a href="{{sponsor.url}}">
            <img src="{{sponsor.source}}" (load)="sponsor.loaded = true" style="width: 80%; padding: 8px; margin: 4px 0px; border: 1px solid #555; border-radius: 12px; max-width: 500px;">
        </a>
        <br>
    </div>
    <br>
    <app-footer></app-footer>
</div>