.title {
    margin: 12px 20px 0px 20px;
    font-family: Champion;
    letter-spacing: 2px;
    font-size: 34px;
    color: #de643f;
    line-height: 1.2;
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
    ;
}