<mat-progress-bar *ngIf="sponsorsAreLoading()" mode="indeterminate"></mat-progress-bar>
<br><br>
<div style="text-align: center;" [hidden]="sponsorsAreLoading()">
    <h1 class="title">SPONSORS<br>CBN 2023</h1>
    <br><br>
    <div *ngFor="let sponsor of getSponsors()">
        <a href="{{sponsor.url}}">
            <img src="{{sponsor.source}}" (load)="sponsor.loaded = true" style="width: 80%; padding: 8px; margin: 4px 0px; border: 1px solid #555; border-radius: 12px; max-width: 500px;">
        </a>
        <br>
    </div>
</div>