.immagini {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  
    .immagine-item {
      flex: 0 1 calc(33.33% - 10px);
      cursor: pointer;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        transition: transform 0.2s ease-in-out;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  