<div style="text-align: center; padding: 22px 0px; color: white; background-color:#152173">
    <p style="font-size: 22px;">I nostri Social</p>
    <div class="footerContainer">
        <a href="https://www.instagram.com/_campusbynight_/"><img src="../assets/insta.png" style="width: 55px; height: 55px; margin: 0px 8px;"></a>
        <a href="https://www.facebook.com/CampusByNight"><img src="../assets/facebook.png" style="width: 55px; height: 55px; margin: 0px 8px;"></a>
        <a href="https://www.youtube.com/c/CampusbyNight"><img src="../assets/youtube.png" style="width: 55px; height: 55px; margin: 0px 8px;"></a>
    </div>
    <!--
    <p style="font-size: 22px;">Con il patrocinio di</p>
    <div class="footerContainer">
        <a href="https://www.unibo.it/it"><img src="../assets/unibo.png" style="height: 55px; margin: 0px 8px;"></a>
        <a href="https://www.comune.bologna.it/"><img src="../assets/bologna.png" style="height: 55px; margin: 0px 8px;"></a>
    </div>
    <div class="footerContainer">
        <a href="https://www.volabo.it/"><img src="../assets/volabo.png" style="height: 55px; margin: 10px 8px 0px 8px;"></a>
    </div>
    -->
    <hr style="border-top: 0px solid #B6bbbb; background-color:#B6bbbb; border-color: #B6bbbb; margin: 44px 8px 0px 8px">
    <p style="color:#B6bbbb; margin: 20px 0px 0px 0px"><i>Sviluppato da Campus Nightlife Ninjas</i></p>
</div>